{% load url from future %}

<html>
<head>
  <meta charset="utf-8">
  <title>CSS tests</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/en-US/static/css/bootstrap.css" />
</head>
<body>
  <script>window.SPLUNKJS_STATIC_URL = "{{STATIC_URL}}";</script>
  <script src="{{SPLUNK_STATIC_URL}}splunkjs/contrib/require.js"></script>
  <!-- <script src="{{SPLUNK_STATIC_URL}}splunkjs/contrib/bootstrap.js"></script>-->
  <style type="text/css">
  
  #data-wrap{
    height: 160;
  }
  .navbar .container{
    width: 950px;
  }

  </style>
   
    <div class="row">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
              <a class="brand" href="#">CSS Tests (Matrix)</a>
              <ul class="nav">
                <li class="active"><a href="#">Base</a></li>
                <li><a href="#">Table</a></li>
                <li><a href="#">Style</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
      
    <div class="container">
      <div class="row">
        <div class="span7">
          <h2>Spunk Styles Added</h2>
          <p>On this page we have included markup for a Bubbles-style table and the Splunk styles required to render it. Unfortunatly, since Spunk styles are based on Bootstrap and use the same class names, the styles the user was relying on are overwritten and non-Splunk-related parts of the page get re-styled as a side effect. For example, the <code>navbar</code> class style from the Splunk bootstrap is different from the <class>navbar</code> class style from standard bootstrap:</p>
<pre>
.navbar {
  overflow: visible;
  margin-bottom: 16px;
  *position: relative;
  *z-index: 2;
}
</pre>
        <p>These style overrides are not limited to controls like the navbar. As you can see many fairly general styles are affected including those governing spacing and fonts.</p>
        <p>Ideally, to address this problem Splunk styles would not have the same names as the standard Bootstrap names. For example <code>navbar</code> would be renamed to <code>spl-navbar</code>. This way our styles would effectively be namespaced and thus only applied to controls where we specifically intend them to be.</p>

        </div>
        <div class="span5">
          <h4> Data table</h4>
          <div id="data-wrap">
           <div class="views-shared-resultstable" style="display: block; border:0px solid #000;">
            <div class="simpleResultsTableWrapper">
                <table class="simpleResultsTable splTable table table-striped table-chrome enableMouseover">
                    <tbody>
                        <tr class="">
                            <th class="None sorts">
                                <a><span class="sortLabel">#</span> </a>
                            </th>
                            <th class="None">
                                <a><span class="sortLabel">First Name</span> </a>
                            </th>
                            <th class="None">
                                <a><span class="sortLabel">Last name</span> </a>
                            </th>
                            <th class="None">
                                <a><span class="sortLabel">User Name</span> </a>
                            </th>

                        </tr>
                        <tr>
                            <td field="#" class="d">
                                1
                            </td>
                            <td field="First Name" class="d">
                                Itay
                            </td>
                            <td field="Last Name" class="d">
                                Neeman
                            </td>
                            <td field="User Name" class="d">
                                @itaynee
                            </td>
                        </tr>
                        <tr>
                            <td field="#" class="d">
                                2
                            </td>
                            <td field="First Name" class="d">
                                Marshall
                            </td>
                            <td field="Last Name" class="d">
                                Agnew
                            </td>
                            <td field="User Name" class="d">
                                @magnew
                            </td>
                        </tr>
                        <tr>
                            <td field="#" class="d">
                                3
                            </td>
                            <td field="First Name" class="d">
                                Paul
                            </td>
                            <td field="Last Name" class="d">
                                Sanford
                            </td>
                            <td field="User Name" class="d">
                                @cptpaul
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
            </div>
            <em>Here the table is created with Bubbles-style markup and Splunk styles.</em>
            <p></br></p>
            <h4>Here's some more sample text</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
          </div>
      </div>
      <div class="row">
        <div class="span2 offset10">
         <a href="{% url 'csstests:pureBootstrap' %}" class="btn ">Back</a>
         <a href="{% url 'csstests:idealMockup' %}" class="btn btn-primary">Next</a>
        </div>
      </div>
    </div>
  </div>
  <script>  
    // require(["splunkjs/ready!"], function() {
        
    // });
  </script>
</body>
</html>
